# Phase 4 Code Challenge Review

In [7]:
from src.student_caller import one_random_student
from src.student_list import student_first_names

TOC:

  - [Time Series](#ts)  
  - [PCA](#pca)
  - [NLP](#nlp)
  - [Clustering](#clust)

<a id='ts'></a>

# Time Series

In [6]:
import pandas as pd
import numpy as np

shampoo = pd.read_csv('data/shampoo.csv')
shampoo[:5]

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3

What initial preprocessing do we have to we have to apply to the above time series dataset to make it suitable for modeling?

> Your answer here

In [ ]:
# perform preprocessing mentioned above

<a id='pca'></a>

# PCA

<a id='nlp'></a>

# NLP

<a id='clust'></a>

# Clustering